/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #e5ccff;
    --secondary: #f2e6ff;
    --tri: #a08bc1;
}


html{
    font-size: 16px;
}

body {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    /* background-color: var(--secondary); */
    text-align: center;
}

.text{
    color: #f4f4f4;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #303030;
}

p{
    color:#303030;
}



/* Header */
.header{
    background-image: url(images/cat-banner.jpg);
    background-color: var(--tri);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 400px;
}

.header-container {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
}
.header-title {
    font-size: 6rem;
    
}

.mission-statement {
    font-size: 1.5rem;
}

/* Navber */
#navbar{
    background-color: var(--primary);
    border-bottom: 2px solid var(--tri);
    position: sticky;
    top: 0;
}


.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}

.page-links {
    display: flex;
    gap: 7rem;
    margin-right: 10rem ;
    font-size: 1.3rem;
}

a{
    color: #6300cc;
    text-decoration: none;
}

a:hover{
    color: #0099cc;
}

i {
    font-size: 5rem;
    color: #303030;
    padding: 1rem;
}

/* button */


.shopnow {
    display: flex;
    justify-content: center;
    
}

button {
    border: 2px solid var(--tri);
}

.btn {
    font-size: 3rem;
    margin-top: 3rem;
    background-color: var(--primary);
    color: #6300cc;
    border-radius: 5px;
    box-shadow: .7rem .3rem;
}
.btn:hover {
    background-color: #e8daf7;
    color: #0099cc;
    border-radius: 6px;
}

.btn:active {
    margin-top:3.3rem;
    background-color: var(--tri);
    color: #39b8e2;
    box-shadow: none;
}

/* Testimonials */
.testimonials{
    background-color: var(--secondary);
    margin-top: 7rem;
    padding: 1.5rem 0 2rem;
    border-top: 2px solid var(--tri);
    border-bottom: 2px solid var(--tri);
}



.customer-testimonials  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    justify-content: space-around;
    align-items: center;

}

.customerimg img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.team-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.team-img p {
    margin-bottom: 3rem;
    max-width: 250px;
    align-self: center;
}


footer {
    background-color: var(--tri);
    padding: 1.5rem;
    color: #f4f4f4;
}


/* Media Queries */
@media only screen and (max-width:780px) {
    .header-title {
        font-size: 3rem;
    }

    .mission-statement{
        font-size: 1rem;
    }

    .page-links {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin: 0 auto;
    }

    .testimonials h2 {
        font-size: 2rem;
    }
   
    .customer-testimonials {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .customerimg:nth-child(3){
        display: none;
    }
}

@media only screen and (max-width:535px) {
    .customer-testimonials {
        grid-template-columns: 1fr;
        justify-content: space-around;
    }
    .customerimg:nth-child(2){
        display: none;
    }
    
    
}